<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <%- include('../partials/loader.ejs') %>
    <div class="main-content" id="main-content">
      <div class="login-div">
        <form class="login-form" action="">
          <h1>Login Page</h1>
          <input
            name="username"
            id="username"
            type="text"
            placeholder="Enter username"
          />
          <input
            name="password"
            id="password"
            type="password"
            placeholder="Enter password"
          />
          <input class="submit-button" type="submit" value="Log In" />
        </form>
      </div>
    </div>
    <script defer src="/js/script.js"></script>
  </body>
</html>
