<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />

    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <%- include('../partials/loader.ejs') %>
    <div class="main-content" id="main-content">
      <div class="login-div">
        <form class="login-form" action="/login" method="POST">
          <h1>Login Page</h1>
          <input
            name="username"
            id="username"
            type="text"
            placeholder="Enter username"
          />
          <div class="password-wrapper">
            <input
              name="password"
              id="password"
              type="password"
              placeholder="Enter password"
            />
            <i class="fa-solid fa-eye toggle-icon" id="toggle-password"></i>
          </div>

          <input class="submit-button" type="submit" value="Log In" />
        </form>
      </div>
    </div>
    <script defer src="/js/script.js"></script>
  </body>
</html>
